<!--
    Manansala, Aerelle Myeica S.
    Milan, John Llyod B.
    Siy, Jorgette Courteney C.
    CCAPDEV S16 Group 3
    MCO1
-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Network and Information Security</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
  <p><h2>CourseVoice Dashboard</h2>
</header>
<div class="sidebar">
  <ul>
    <li><a href="/search"><i class="fas fa-search"></i><span class="nav-item">Search</span></a></li>
    <li><a href="/dashboard"><i class="fas fa-home"></i><span class="nav-item">Home</span></a></li>
    <li><a href="/course"><i class="fas fa-list"></i><span class="nav-item">All Courses</span></a></li>
    <li><a href="/profile"><i class="fas fa-cog"></i><span class="nav-item">Settings</span></a></li>
</ul>
<ul class="logout">
  <li><a href="/logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item">Log Out</span></a></li>
</ul>
</div>
<div class="greetings">
  <p><strong>List of Courses</strong></p>
</div>

<div class="subject-container">
  <a href="#Computer Science"> <h1>Computer Science</h1> </a>
</div>
<div class="courses">
  <h1>COMING SOON</h1>
</div>

<div class="subject-container">
  <a href="#Computer Systems Engineering"> <h1>Computer Systems Engineering</h1> </a>
</div>
<div class="courses">
  <h1>COMING SOON</h1>
</div>

<div class="subject-container">
  <a href="/course/ST"> <h1>Software Technology</h1> </a>
</div>
<div class="courses">
  <div class="content1">
    <h1>STALGCM</h1>
    <div class="with-space">
      <p>Advanced Algorithms and Complexities</p>
    </div>
    <a href="/course/ST/STALGCM"> <button class="button next">Next</button> </a>
  </div>
  <div class="content2">
    <h1>ST-MATH</h1>
    <div class="with-space">
      <p>Integral Calculus</p>
    </div>
    <a href="/course/ST/ST-MATH"> <button class="button next">Next</button> </a>
  </div>
  <div class="content1">
    <h1>STHCIUX</h1>
    <div class="with-space">
      <p>Human Computer Interactions</p>
    </div>
    <a href="/course/ST/STHCIUX"> <button class="button next">Next</button> </a>
  </div>
  <div class="content2">
    <h1>STSWENG</h1>
    <div class="with-space">
      <p>Advanced Software Engineering</p>
    </div>
    <a href="/course/ST/STSWENG"> <button class="button next">Next</button> </a>
  </div>
  <div class="content1">
      <h1>STADVDB</h1>
    <div class="with-space">
      <p>Advanced Database Systems</p>
    </div>
    <a href="/course/ST/STADVDB"> <button class="button next">Next</button> </a>
  </div>
  <div class="content2">
    <h1>STMETHD</h1>
    <div class="with-space">
      <p>ST Research Methods</p>
    </div>
    <a href="/course/ST/STMETHD"> <button class="button next">Next</button> </a>
  </div>
  <div class="content1">
      <h1>STINTSY</h1>
    <div class="with-space">
      <p>Advanced Intelligent Systems</p>
    </div>
    <a href="/course/ST/STINTSY"> <button class="button next">Next</button> </a>
  </div>
  <div class="content2">
    <h1>STDISCM</h1>
    <div class="with-space">
      <p>Distributed Computing</p>
    </div>
    <a href="/course/ST/STDISCM"> <button class="button next">Next</button> </a>
  </div>
</div>

<div class="subject-container">
  <a href="/course/NS"> <h1>Network and Information Security</h1> </a>
</div>
<div class="courses">
  <div class="content1">
    <h1>NSCOM01</h1>
    <div class="with-space">
      <p>Network Application Protocols</p>
    </div>
    <a href="/course/NS/NSCOM01"> <button class="button next">Next</button> </a>
  </div>

  <div class="content2">
    <h1>NSCOM02</h1>
    <div class="with-space">
      <p>Network Connectivity and Data Delivery</p>
    </div>
    <a href="/course/NS/NSCOM02"> <button class="button next">Next</button> </a>
  </div>

  <div class="content1">
    <h1>NSCOM03</h1>
    <div class="with-space">
      <p>Data Communication</p>
    </div>
    <a href="/course/NS/NSCOM03"> <button class="button next">Next</button> </a>
  </div>

  <div class="content2">
    <h1>NSSECU1</h1>
    <div class="with-space">
      <p>Introduction to Security</p>
    </div>
    <a href="/course/NS/NSSECU1"> <button class="button next">Next</button> </a>
  </div>

  <div class="content1">
      <h1>NSSECU2</h1>
    <div class="with-space">
      <p>Advanced and Offensive Security</p>
    </div>
    <a href="/course/NS/NSSECU2"> <button class="button next">Next</button> </a>
  </div>

  <div class="content2">
    <h1>NSSECU3</h1>
    <div class="with-space">
      <p>Digital Forensics</p>
    </div>
    <a href="/course/NS/NSSECU3"> <button class="button next">Next</button> </a>
  </div>

  <div class="content1">
      <h1>NSETRON</h1>
    <div class="with-space">
      <p>Practical Electricity and Electronics</p>
    </div>
    <a href="/course/NS/NSETRON"> <button class="button next">Next</button> </a>
  </div>
  
  <div class="content2">
    <h1>NSEMBED</h1>
    <div class="with-space">
      <p>Embedded Platform Development</p>
    </div>
    <a href="/course/NS/NSEMBED"> <button class="button next">Next</button> </a>
  </div>

  <div class="content1">
      <h1>NSRESME</h1>
    <div class="with-space">
      <p>NIS Research Methods</p>
    </div>
    <a href="/course/NS/NSRESME"> <button class="button next">Next</button> </a>
  </div>
  
  <div class="content2">
    <h1>NSAPDEV</h1>
    <div class="with-space">
      <p>Server Application Development</p>
    </div>
    <a href="/course/NS/NSAPDEV"> <button class="button next">Next</button> </a>
  </div>

  <div class="content1">
      <h1>NSDSYST</h1>
    <div class="with-space">
      <p>Distributed Systems</p>
    </div>
    <a href="/course/NS/NSDSYST"> <button class="button next">Next</button> </a>
  </div>


</div>

</body>
</html>