<!--
    Manansala, Aerelle Myeica S.
    Milan, John Llyod B.
    Siy, Jorgette Courteney C.
    CCAPDEV S16 Group 3
    MCO1
-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Network and Information Security</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
    <h2>Network and Information Security</h2>
</header>
<div class="sidebar">
    <ul>
        <li><a href="/search"><i class="fas fa-search"></i><span class="nav-item">Search</span></a></li>
        <li><a href="/dashboard"><i class="fas fa-home"></i><span class="nav-item">Home</span></a></li>
        <li><a href="/course"><i class="fas fa-list"></i><span class="nav-item">All Courses</span></a></li>
        <li><a href="/profile"><i class="fas fa-cog"></i><span class="nav-item">Settings</span></a></li>
    </ul>
    <ul class="logout">
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item">Log Out</span></a></li>
    </ul>
</div>
<div class="courses-row">
    <div class="st1">
        <a href="/course/NS/NSCOM01"> <h1>NSCOM01</h1> </a>
        <div class="with-space">
            <p>Network Application Protocols</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSCOM01"><button class="button proceed">Proceed</button> </a>
        </div>
    </div>
    <div class="st2">
        <a href="/course/NS/NSCOM02"> <h1>NSCOM02</h1> </a>
        <div class="with-space">
            <p>Network Connectivity and Data Delivery</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSCOM02"><button class="button proceed">Proceed</button> </a>
        </div>
    </div>
    <div class="st1">
        <a href="/course/NS/NSCOM03"> <h1>NSCOM03</h1> </a>
        <div class="with-space">
            <p>Data Communication</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSCOM03"><button class="button proceed">Proceed</button></a>
        </div>
    </div>
    <div class="st2">
        <a href="/course/NS/NSSECU1"> <h1>NSSECU1</h1> </a>
        <div class="with-space">
            <p>Introduction to Security</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSSECU1"><button class="button proceed">Proceed</button></a>
        </div>
    </div>
    <div class="st1">
        <a href="/course/NS/NSSECU2"> <h1>NSSECU2</h1> </a>
        <div class="with-space">
            <p>Advanced and Offensive Security</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSSECU2"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st2">
        <a href="/course/NS/NSSECU3"> <h1>NSSECU3</h1> </a>
        <div class="with-space">
            <p>Digital Forensics</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSSECU3"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st1">
        <a href="/course/NS/NSETRON"> <h1>NSETRON</h1> </a>
        <div class="with-space">
            <p>Practical Electricity and Electronics</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSETRON"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st2">
        <a href="/course/NS/NSEMBED"> <h1>NSEMBED</h1> </a>
        <div class="with-space">
            <p>Embedded Platform Development</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSEMBED"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st1">
        <a href="/course/NS/NSRESME"> <h1>NSRESME</h1> </a>
        <div class="with-space">
            <p>NIS Research Methods</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSRESME"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st2">
        <a href="/course/NS/NSAPDEV"> <h1>NSAPDEV</h1> </a>
        <div class="with-space">
            <p>Server Application Development</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSAPDEV"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st1">
        <a href="/course/NS/NSDSYST"> <h1>NSDSYST</h1> </a>
        <div class="with-space">
            <p>Distributed Systems</p>
        </div>
        <div class="go">
            <a href="/course/NS/NSDSYST"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
</div>
</body>
</html>