<!--
    Manansala, Aerelle Myeica S.
    Milan, John Llyod B.
    Siy, Jorgette Courteney C.
    CCAPDEV S16 Group 3
    MCO1
-->

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Software Technology</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
<header>
    <h2>Software Technology</h2>
</header>
<div class="sidebar">
    <ul>
        <li><a href="/search"><i class="fas fa-search"></i><span class="nav-item">Search</span></a></li>
        <li><a href="/dashboard"><i class="fas fa-home"></i><span class="nav-item">Home</span></a></li>
        <li><a href="/course"><i class="fas fa-list"></i><span class="nav-item">All Courses</span></a></li>
        <li><a href="/profile"><i class="fas fa-cog"></i><span class="nav-item">Settings</span></a></li>
    </ul>
    <ul class="logout">
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i><span class="nav-item">Log Out</span></a></li>
    </ul>
</div>
<div class="courses-row">
    <div class="st1">
        <a href="/course/ST/STALGCM"> <h1>STALGCM</h1> </a>
        <div class="with-space">
            <p>Advanced Algorithms and Complexities</p>
        </div>
        <div class="go">
            <a href="/course/ST/STALGCM"><button class="button proceed">Proceed</button> </a>
        </div>
    </div>
    <div class="st2">
        <a href="/course/ST/ST-MATH"> <h1>ST-MATH</h1> </a>
        <div class="with-space">
            <p>Integral Calculus</p>
        </div>
        <div class="go">
            <a href="/course/ST/ST-MATH"><button class="button proceed">Proceed</button> </a>
        </div>
    </div>
    <div class="st1">
        <a href="/course/ST/STHCIUX"> <h1>STHCIUX</h1> </a>
        <div class="with-space">
            <p>Human Computer Interactions</p>
        </div>
        <div class="go">
            <a href="/course/ST/STHCIUX"><button class="button proceed">Proceed</button></a>
        </div>
    </div>
    <div class="st2">
        <a href="/course/ST/STSWENG"> <h1>STSWENG</h1> </a>
        <div class="with-space">
            <p>Advanced Software Engineering</p>
        </div>
        <div class="go">
            <a href="/course/ST/STSWENG"><button class="button proceed">Proceed</button></a>
        </div>
    </div>
    <div class="st1">
        <a href="/course/ST/STADVDB"> <h1>STADVDB</h1> </a>
        <div class="with-space">
            <p>Advanced Database Systems</p>
        </div>
        <div class="go">
            <a href="/course/ST/STADVDB"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st2">
        <a href="/course/ST/STMETHD"> <h1>STMETHD</h1> </a>
        <div class="with-space">
            <p>ST Research Methods</p>
        </div>
        <div class="go">
            <a href="/course/ST/STMETHD"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st1">
        <a href="/course/ST/STINTSY"> <h1>STINTSY</h1> </a>
        <div class="with-space">
            <p>Advanced Intelligent Systems</p>
        </div>
        <div class="go">
            <a href="/course/ST/STINTSY"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
    <div class="st2">
        <a href="/course/ST/STDISCM"> <h1>STDISCM</h1> </a>
        <div class="with-space">
            <p>Distributed Computing</p>
        </div>
        <div class="go">
            <a href="/course/ST/STDISCM"><button class="button proceed">Proceed</button></a>
        </div>    
    </div>
</div>
</body>
</html>